# intermediate files
build/*.s
build/*.dsk
build/*.clean
build/*.orig
build/*.0405
build/cleansrc
build/patched
build/protofs
build/root/
build/unix
build/usr/
build/usyms
*.dSYM

# installed images
images

# tools
tools/apout/apout
tools/apout/*.o
tools/mkfs
tools/ml
tools/pdp11
